name: Linting

on: push

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "25.x"
          cache: "npm"
      - run: npm ci
      - run: npm run lint
      - run: npm run tsc
